@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
}

@media only screen and (min-width: 1500px) {
  body {
    background-color: #F0F5FF;
    scroll-snap-type: mandatory;
  }
  body .luminex_page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  body .luminex_page nav {
    background-color: #06183A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  body .luminex_page nav .co_name_logo {
    margin: 0 0 0 10ch;
  }
  body .luminex_page nav .co_name_logo .logo_name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .luminex_page nav .co_name_logo .logo_name #lightbulb {
    width: 1.2em;
    height: 1.2em;
  }
  body .luminex_page nav .co_name_logo .logo_name p {
    color: #DAD3D3;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
  }
  body .luminex_page nav .nav_links {
    display: flex;
    gap: 3ch;
    position: relative;
    right: 17ch;
  }
  body .luminex_page nav .nav_links .home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
  }
  body .luminex_page nav .nav_links .home #home {
    width: 1.2em;
    height: 1.2em;
  }
  body .luminex_page nav .nav_links .home a {
    color: #DAD3D3;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
  }
  body .luminex_page nav .nav_links .summary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
  }
  body .luminex_page nav .nav_links .summary #summary {
    width: 1.2em;
    height: 1.2em;
  }
  body .luminex_page nav .nav_links .summary a {
    color: #DAD3D3;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
  }
  body .luminex_page nav .nav_links .insights {
    position: relative;
    display: inline-block;
  }
  body .luminex_page nav .nav_links .insights .dropbtn {
    background-color: #06183A;
    color: #DAD3D3;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
  }
  body .luminex_page nav .nav_links .insights .dropdown-content {
    display: none;
    position: absolute;
    background-color: #06183A;
    min-width: 120px;
    min-height: 80px;
    border: 2px solid rgba(218, 211, 211, 0.3568627451);
    border-radius: 10px;
    transition: 0.6s all ease-in;
    z-index: 1;
    padding: 1em;
  }
  body .luminex_page nav .nav_links .insights .dropdown-content a {
    color: #DAD3D3;
    text-decoration: none;
    display: block;
    font-family: "Inter", sans-serif;
    padding: 0.5em 0.1em;
    font-size: 0.8rem;
  }
  body .luminex_page nav .nav_links .insights .dropdown-content a:hover {
    background-color: rgba(218, 211, 211, 0.3568627451);
    color: #66C7E5;
    color: black;
    border-radius: 5px;
  }
  body .luminex_page nav .nav_links .insights:hover .dropdown-content {
    display: block;
  }
  body .luminex_page .luminex_stuff {
    background-color: #F0F5FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7em;
    width: 100%;
  }
  body .luminex_page .luminex_stuff .top_square {
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center;
    margin-top: 10em;
  }
  body .luminex_page .luminex_stuff .top_square .right_square {
    display: flex;
    align-items: center;
    background-color: black;
    background-image: url("./img/top_banner.png");
    width: 65em;
    width: 100%;
    height: 15em;
  }
  body .luminex_page .luminex_stuff .top_square .right_square .solutions {
    color: #66C7E5;
    font-size: 1.7rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    position: relative;
    left: 3em;
    width: 55%;
  }
  body .luminex_page .luminex_stuff .top_square .right_square .solutions::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 6px;
    width: 55%;
    background-color: white;
  }
  body .luminex_page .luminex_stuff .exec_summary {
    width: 100%;
    display: flex;
    margin-top: 2em;
  }
  body .luminex_page .luminex_stuff .exec_summary .exec_words {
    width: 60%;
    color: #06183A;
    font-family: "Inter", sans-serif;
    margin: 0em 0 0 5.5em;
    line-height: 1.8em;
    font-size: 1rem;
    height: 80%;
  }
  body .luminex_page .luminex_stuff .exec_summary .led_one {
    margin: 0 0 0 3em;
    z-index: 1;
  }
  body .luminex_page .luminex_stuff .exec_summary .led_one #led_one {
    border-radius: 50%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #F0F5FF;
  }
  body .luminex_page .luminex_stuff .exec_summary .led_two {
    background-color: #06183A;
    border-radius: 50%;
    border-radius: 15px;
    margin: -3em 0 0 -3em;
    width: 15em;
    height: 15em;
  }
  body .luminex_page .luminex_stuff .exec_summary .led_two #led_two {
    border-radius: 15px;
    filter: brightness(70%);
    box-shadow: 2px 2px 2px 2px #66C7E5;
  }
  body .luminex_page .luminex_stuff .ul_bulb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2em 0 0 0;
  }
  body .luminex_page .luminex_stuff .ul_bulb ul {
    width: 85%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #06183A;
    border: 0 none;
  }
  body .luminex_page .luminex_stuff .ul_bulb #bulb {
    width: 2em;
    height: 2em;
    position: relative;
    right: 90px;
  }
  body .luminex_page .luminex_stuff .insight_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
  }
  body .luminex_page .luminex_stuff .insight_section .insight_title {
    font-family: "Inter", sans-serif;
    color: #06183A;
    font-weight: bold;
    width: 100%;
    padding-bottom: 1em;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights {
    display: flex;
    gap: 2em;
    width: 100%;
    height: 100%;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights .square {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #06183A;
    width: 40%;
    height: 100%;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights .square button {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    position: absolute;
    background: none;
    font-size: 1rem;
    border: none;
    margin: 3em 0 0 -7em;
    cursor: pointer;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights .square button::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 4px;
    width: 105%;
    background-color: #66C7E5;
    opacity: 0;
    margin: 0 0 0 0.4em;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights .square button:hover:before {
    opacity: 1;
    transition: 0.3s all ease-in;
    z-index: 1;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_one {
    background-image: url("./img/office_lights.png");
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_one .words {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    line-height: 1.3em;
    margin: 1.8em 0 0 -0.3em;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_one .words .hover_boxes {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
    opacity: 0;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_one .words .hover_boxes.appear {
    opacity: 1;
    transition: 0.3s all ease-in;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_two {
    background-image: url("./img/operations_light.png");
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_two .words {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    line-height: 1.3em;
    margin: 1.3em 0 0 0em;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_two .words .hover_boxes {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
    opacity: 0;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_two .words .hover_boxes.appear {
    opacity: 1;
    transition: 0.3s all ease-in;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_three {
    background-image: url("./img/environ_light_one.png");
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_three .words {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    line-height: 1.3em;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_three .words .hover_boxes {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
    opacity: 0;
    margin: -3em 0 0 -2.2em;
  }
  body .luminex_page .luminex_stuff .insight_section .all_insights #square_three .words .hover_boxes.appear {
    opacity: 1;
    transition: 0.3s all ease-in;
  }
  body .luminex_page footer {
    height: 50em;
    display: flex;
    flex-direction: column;
    margin: 10em 0 0 0;
    background-color: #06183A;
  }
  body .luminex_page footer .top_footer_contents {
    display: flex;
    padding: 1em;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo {
    display: flex;
    margin: 2em 0 0 4em;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .logo_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .logo_name #lightbulb {
    width: 1em;
    height: 1em;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .logo_name p {
    color: #DAD3D3;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .footer_list {
    display: flex;
    gap: 5em;
    margin: 1em 0 0 3em;
    position: relative;
    left: 50px;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 15em;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
  }
  body .luminex_page footer .top_footer_contents .sign_up_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 7em;
    gap: 0.5em;
  }
  body .luminex_page footer .top_footer_contents .sign_up_div small {
    color: #66C7E5;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  body .luminex_page footer .top_footer_contents .sign_up_div .email_input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .luminex_page footer .top_footer_contents .sign_up_div .email_input input {
    background-color: #F0F5FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 25em;
    height: 3em;
    border: none;
  }
  body .luminex_page footer .top_footer_contents .sign_up_div .email_input button {
    background-color: #F0F5FF;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #06183A;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 10em;
    height: 3.15em;
    border: none;
    cursor: pointer;
  }
  body .luminex_page footer .connect_with {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 0.8em;
    position: relative;
    left: 300px;
  }
  body .luminex_page footer .connect_with small {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  body .luminex_page footer .connect_with .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8em;
  }
  body .luminex_page footer .connect_with .socials #twitter {
    width: 1.8em;
    height: 1.8em;
  }
  body .luminex_page footer .connect_with .socials .soc_icon {
    width: 2em;
    height: 2em;
  }
  body .luminex_page footer .copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66C7E5;
    color: white;
    font-size: small;
    font-family: "Inter", sans-serif;
    gap: 0.5em;
    position: relative;
    bottom: 2em;
  }
  body .luminex_page footer .copyrights #courdevelops {
    width: 2em;
    height: 2em;
  }
}/*# sourceMappingURL=style.css.map */