@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// COLORS
$headerfont: #DAD3D3;
$bluetext: #66C7E5;

// Mobile

// Tablet

// Desktop
body {
    margin: 0;
    // Whole Page
    .luminex_page {
        display: flex;
        flex-direction: column;
        // Navbar
        nav {
            background-color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2em 0 2em;
            // Company Logo
            .co_name_logo {
                // Make this fixed within window
                margin: 0 0 0 10ch;
                .logo_name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #lightbulb {
                        width: 1.4em;
                        height: 1.4em;
                    }
                    p {
                        color: $headerfont;
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: 1.5rem;
                    }
                }
            }
            // Nav Links
            .nav_links {
                display: flex;
                gap: 3ch;
                position: relative;
                right: 17ch;
                // Home
                .home {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1ch;
                    #home {
                        width: 1.5em;
                        height: 1.5em;
                    }
                    a {
                        color: $headerfont;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        text-decoration: none;
                    }
                }
                // Summary
                .summary {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1ch;
                    #summary {
                        width: 1.5em;
                        height: 1.5em;
                    }
                    a {
                        color: $headerfont;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        text-decoration: none;
                    }
                }
            }
        }
        // Body of Page
        .lumin_stuff {
            background-image: url("./img/Background_Luminex.png");
            // background: linear-gradient(45deg, 80%, black, white);
            height: 100vh;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            .header_luminex {
                margin: 12ch 0 0 20ch;
                display: flex;
                gap: 20ch;
                .head_pic {
                    margin: 0 0 0 -32ch;
                    #ceiling_lights {
                        width: 30vw;
                        height: 15vw;
                    }
                }
                .headline {
                    background-color: black;
                    // background-color: rgb(7, 7, 83);
                    padding: 3em 0em 0em 5em;
                    border-radius: 10px;
                    width: 32vw;
                    // height: 14vw;
                    position: relative;
                    left: 40px;
                    .head_words {
                        margin: 0 0 0 7ch;
                        p {
                            color: $bluetext;
                            font-family: 'Inter', sans-serif;
                            font-size: 1.8rem;
                            // font-size: 1.5rem;
                            font-weight: bold;
                            width: 73%;
                            
                        }
                        ul {
                            border: 3px solid white;
                            width: 23vw;
                        }
                    }
                }
            }
        }
    }
}