@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// COLORS
$headerfont: #DAD3D3;
$bluetext: #66C7E5;

// BORDERS
$borderfont: #dad3d35b;

// BLACK with lighter opacity



// Mobile

// Tablet

// Desktop
body {
    margin: 0;
    // Whole Page
    .luminex_page {
        display: flex;
        flex-direction: column;
        height: 100vh;
        // Navbar
        nav {
            background-color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // Company Logo
            .co_name_logo {
                // Make this fixed within window
                margin: 0 0 0 10ch;
                .logo_name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #lightbulb {
                        width: 1.4em;
                        height: 1.4em;
                    }
                    p {
                        color: $headerfont;
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: 1.5rem;
                    }
                }
            }
            // Nav Links
            .nav_links {
                display: flex;
                gap: 3ch;
                position: relative;
                right: 17ch;
                // Home
                .home {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1ch;
                    #home {
                        width: 1.5em;
                        height: 1.5em;
                    }
                    a {
                        color: $headerfont;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        text-decoration: none;
                    }
                }
                // Summary
                .summary {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1ch;
                    #summary {
                        width: 1.5em;
                        height: 1.5em;
                    }
                    a {
                        color: $headerfont;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        text-decoration: none;
                    }
                }
                // Insights
                .insights {
                    position: relative;
                    display: inline-block;
                    .dropbtn {
                        background-color: black;
                        color: $headerfont;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        border: none;
                        cursor: pointer;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: black;
                        min-width: 120px;
                        min-height: 80px;
                        border: 2px solid $borderfont;
                        border-radius: 10px;
                        // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        // display: flex;
                        // flex-direction: column;
                        // justify-content: center;
                        // align-items: center;
                        // gap: 2ch;
                        padding: 1em;
                        // margin: 1em 0 0 0em;
                        a {
                            color: $headerfont;
                            text-decoration: none;
                            display: block;
                            font-family: 'Inter', sans-serif;
                            padding: .5em .1em;
                        }
                        a:hover {
                            background-color: $borderfont;
                            background-color: white;
                            color: $bluetext;
                            color: black;
                            border-radius: 5px;
                        }
                      }
                }
                .insights:hover {
                    .dropdown-content {
                        display: block;
                    }
                }
            }
        }
        // Body of Page
        .lumin_stuff {
            background-image: url("./img/Background_Luminex.png");
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            // Container for content
            .page_content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: center;
                gap: 20ch;
                margin: 15ch 0 0 0;
                // background-color: #66C7E5;
                .top_box {
                    background-image: url("./img/Background_Luminex.png");
                    // background-color: black;
                    border-radius: 10px;
                    width: 75%;
                    height: 35%;
                    display: flex;
                    align-items: center;
                    // border: 2px solid $borderfont;
                    .head_lights_img {
                        // background-color: #66C7E5;
                        // height: 100%;
                        #head_lights {
                            width: 68%;
                            // height: 100%;
                            // height: 20vw;
                            border: 2px solid $borderfont;
                            border-radius: 10px;
                        }
                    }
                    .company_purpose {
                            height: 100%;
                            width: 60%;
                            background-color: black;
                            border: 2px solid $borderfont;
                            border-radius: 10px;
                            
                        .solutions {
                            color: $bluetext;
                            position: relative;
                            left: 80px;
                            font-family: 'Inter', sans-serif;
                            font-size: 1.8rem;
                            font-size: 1.6vw;
                            font-weight: bold;
                            width: 60%;
                            margin: 2em 0 0 0em;
                        }
                        ul {
                            border: 3px solid white;
                            width: 25vw;
                            margin: 1ch 0 0 10.5ch;
                            // height: 23vw;
                        }
                    }
                }
                
                
                .bottom_box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: black;
                    border-radius: 10px;
                    width: 75%;
                    height: 30%;
                    border: 2px solid $borderfont;
                    gap: 18ch;
                    .pic_one {
                        background-image: url("./img/marketing_light.png");
                        width: 18%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    #marketing_link:hover {
                        ul {
                            border: 2px solid $bluetext;
                            width: 4vw;
                            margin-top: -.1ch;
                            margin-left: 2ch;
                        }
                    }
                    .pic_two {
                        background-image: url("./img/screwing\ light.png");
                        width: 18%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    .pic_three {
                        background-image: url("./img/office_lights.png");
                        width: 18%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    .pic_three {
                        background-image: url("./img/office_lights.png");
                        width: 18%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    .pic_four {
                        background-image: url("./img/office_lights.png");
                        width: 18%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    a {
                        position: absolute;
                        font-family: 'Inter', sans-serif;
                        color: white;
                        font-size: 1.2rem;
                        text-decoration: none;
                        font-weight: bold;
                    }
                    ul {
                        display: none;
                        // border: 2px solid $bluetext;
                        // width: 4vw;
                        // margin-top: -.1ch;
                        // margin-left: 2ch;
                    }
                    
                }
            }
        }
    }
}