@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
}

@media only screen and (min-width: 1500px) {
  body {
    background-color: #06183A;
    scroll-snap-type: mandatory;
  }
  body .luminex_page {
    background-color: #F0F5FF;
    display: flex;
    flex-direction: column;
    height: 200vh;
  }
  body .luminex_page nav {
    background-color: #06183A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  body .luminex_page nav .co_name_logo {
    margin: 0 0 0 10ch;
  }
  body .luminex_page nav .co_name_logo .logo_name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .luminex_page nav .co_name_logo .logo_name #lightbulb {
    width: 1.2em;
    height: 1.2em;
  }
  body .luminex_page nav .co_name_logo .logo_name p {
    color: #DAD3D3;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
  }
  body .luminex_page nav .nav_links {
    display: flex;
    gap: 3ch;
    position: relative;
    right: 17ch;
  }
  body .luminex_page nav .nav_links .home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
  }
  body .luminex_page nav .nav_links .home #home {
    width: 1.2em;
    height: 1.2em;
  }
  body .luminex_page nav .nav_links .home a {
    color: #DAD3D3;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
  }
  body .luminex_page nav .nav_links .summary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
  }
  body .luminex_page nav .nav_links .summary #summary {
    width: 1.2em;
    height: 1.2em;
  }
  body .luminex_page nav .nav_links .summary a {
    color: #DAD3D3;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
  }
  body .luminex_page nav .nav_links .insights {
    position: relative;
    display: inline-block;
  }
  body .luminex_page nav .nav_links .insights .dropbtn {
    background-color: #06183A;
    color: #DAD3D3;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
  }
  body .luminex_page nav .nav_links .insights .dropdown-content {
    display: none;
    position: absolute;
    background-color: #06183A;
    min-width: 120px;
    min-height: 80px;
    border: 2px solid rgba(218, 211, 211, 0.3568627451);
    border-radius: 10px;
    transition: 0.6s all ease-in;
    z-index: 1;
    padding: 1em;
  }
  body .luminex_page nav .nav_links .insights .dropdown-content a {
    color: #DAD3D3;
    text-decoration: none;
    display: block;
    font-family: "Inter", sans-serif;
    padding: 0.5em 0.1em;
    font-size: 0.8rem;
  }
  body .luminex_page nav .nav_links .insights .dropdown-content a:hover {
    background-color: rgba(218, 211, 211, 0.3568627451);
    color: #66C7E5;
    color: black;
    border-radius: 5px;
  }
  body .luminex_page nav .nav_links .insights:hover .dropdown-content {
    display: block;
  }
  body .luminex_page .luminex_stuff {
    background-color: #F0F5FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    height: 120vh;
    width: 100%;
  }
  body .luminex_page .luminex_stuff .top_square {
    width: 65em;
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center;
    margin: 30em 0 30px 0;
    gap: 4em;
  }
  body .luminex_page .luminex_stuff .top_square .right_square {
    display: flex;
    align-items: center;
    background-color: black;
    background-image: url("./img/top_banner.png");
    width: 65em;
    width: 100%;
    height: 15em;
  }
  body .luminex_page .luminex_stuff .top_square .right_square .solutions {
    color: #66C7E5;
    font-size: 1.7rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    position: relative;
    left: 3em;
    width: 55%;
  }
  body .luminex_page .luminex_stuff .top_square .right_square .solutions::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 6px;
    width: 55%;
    background-color: white;
  }
  body .luminex_page .luminex_stuff .exec_summary {
    width: 100%;
    margin-top: 1em;
  }
  body .luminex_page .luminex_stuff .exec_summary .exec_words {
    width: 60%;
    color: #06183A;
    font-family: "Inter", sans-serif;
    margin: 0em 0 0 5em;
    line-height: 1.8em;
    font-size: 1rem;
    height: 80%;
  }
  body .luminex_page .luminex_stuff #insight_section {
    padding: 8em 0 0 0;
  }
  body .luminex_page .luminex_stuff #insight_section p {
    color: #06183A;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 -3em 0.5em;
  }
  body .luminex_page .luminex_stuff #insight_section .all_insights {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    gap: 1em;
  }
  body .luminex_page .luminex_stuff #insight_section .all_insights .square {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .luminex_page .luminex_stuff #insight_section .all_insights .square button {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    position: absolute;
    background: none;
    font-size: 1.3rem;
    border: none;
    margin: 3em 0 0 0;
    cursor: pointer;
  }
  body .luminex_page .luminex_stuff #insight_section .all_insights .square button::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 5px;
    width: 110%;
    background-color: #668CF6;
    opacity: 0;
  }
  body .luminex_page .luminex_stuff #insight_section .all_insights .square button:hover:before {
    opacity: 1;
    transition: 0.3s all ease-in;
    z-index: 1;
  }
  body .luminex_page .luminex_stuff #insight_section .all_insights .square #marketing {
    width: 21em;
    height: 27em;
  }
  body .luminex_page .luminex_stuff #insight_section .all_insights .square #operations {
    width: 21em;
    height: 26.6em;
    margin-top: -0.3em;
  }
  body .luminex_page footer {
    height: 17em;
    display: flex;
    flex-direction: column;
    margin: 20em 0 0 0;
    background-color: #06183A;
  }
  body .luminex_page footer .top_footer_contents {
    display: flex;
    padding: 1em;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo {
    display: flex;
    margin: 2em 0 0 4em;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .logo_name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .logo_name #lightbulb {
    width: 1em;
    height: 1em;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .logo_name p {
    color: #DAD3D3;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .footer_list {
    display: flex;
    gap: 4em;
    margin: 1em 0 0 5em;
    margin: 1.5em 0 0 15em;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents_two {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  body .luminex_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents_two a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
  }
  body .luminex_page footer .top_footer_contents .sign_up_div {
    margin: 3em 0 0 8em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  body .luminex_page footer .top_footer_contents .sign_up_div small {
    color: #66C7E5;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  body .luminex_page footer .top_footer_contents .sign_up_div .email_input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .luminex_page footer .top_footer_contents .sign_up_div .email_input input {
    background-color: #DAD3D3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 25em;
    height: 3em;
    border: none;
  }
  body .luminex_page footer .top_footer_contents .sign_up_div .email_input button {
    background-color: #66C7E5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 10em;
    height: 3.1em;
    border: none;
    cursor: pointer;
  }
  body .luminex_page footer .connect_with {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    position: relative;
    left: 200px;
  }
  body .luminex_page footer .connect_with small {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  body .luminex_page footer .connect_with .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8em;
  }
  body .luminex_page footer .connect_with .socials #twitter {
    width: 1.8em;
    height: 1.8em;
  }
  body .luminex_page footer .connect_with .socials .soc_icon {
    width: 2em;
    height: 2em;
  }
  body .luminex_page footer .copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66C7E5;
    color: white;
    font-size: small;
    font-family: "Inter", sans-serif;
    gap: 0.5em;
    margin-top: 1em;
    margin-right: -9em;
  }
  body .luminex_page footer .copyrights #courdevelops {
    width: 2em;
    height: 2em;
  }
}/*# sourceMappingURL=style.css.map */